version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/staticfiles
    environment:
      - DEBUG=${DEBUG:-False}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY:-django-insecure-change-this-in-production}
      - DATABASE_URL=sqlite:///db.sqlite3
    depends_on:
      - db
    command: python manage.py runserver 0.0.0.0:8000

  db:
    image: sqlite3
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
